/* declaring global root variable and its properties can be used anywhere in the file. */

:root {
  --md-dark-color: #472e66;
  --dark-color: #8a3177;
  --light-dark-color: #746464;
  --yellow-color: #d4aa11;
}

header,
h1 {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  color: whitesmoke;
  background-color: black;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 42px;
}

#movie-search-box {
  border-radius: 50px;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
background-color: white
}

.search-container {
  background-color: var(--md-dark-color);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkboxes{
  margin-top: 50px;
  margin-left: 30px;
  font-size: 20px;
  color: white;
}

.search-element {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 50px;
}
.search-element h3 {
  align-self: center;
  margin-right: 10px;
  font-size: 30px;
  color: white;
  font-weight: 300;
}

.search-element .form-control {
  padding: 16px 32px;
  font-size: 20px;
  color: var(--light-dark-color);
  width: 350px;
}
.search-list {
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 500px;
  overflow-y: scroll;
  border-radius: 20px;
}

.search-list .search-list-item {
  background-color: var(--dark-color);
  padding: 0.5rem;
  border-bottom: 1px solid var(--dark-color);
  width: 390px;
  color: #fff;
  cursor: pointer;
}
.search-list .search-list-item:hover {
  background-color: #1f1f1f;
}
.search-list-item,
h3,
p {
  display: flex;
  text-align: center;
}
.search-item-thumbnail img {
  width: 40px;
  margin-right: 1rem;
}
.search-item-info h3 {
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  text-align: center;
}

.search-item-info p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-weight: 600;
  opacity: 0.6;
  display: flex;
  text-align: center;
}

.search-list::-webkit-scrollbar {
  width: 8px;
}

/* Create a shadow track for the scroll bar */
.search-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* defining the properties of the scroll bar like scrollbar end radius color and outline*/
.search-list::-webkit-scrollbar-thumb {
  background-color: var(--yellow-color);
  outline: none;
  border-radius: 10px;
}

/* js related class */
.hide-search-list {
  display: none;
}

/* movie result */
.result-container {
  padding: 150px 150px 150px 150px;
}
.movie-poster img {
  max-width: 300px;
  margin: 0 auto;
  border: 6px solid #000000;
}
.movie-info {
  text-align: center;
  color: black;
  padding-top: 3rem;
}

/* movie info stylings */
.movie-title {
  font-size: 38px;
  color: var(--yellow-color);
}
.movie-misc-info {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-info .year {
  font-weight: 500;
  font-size: 18px;
}
.movie-info .rated {
  background-color: var(--yellow-color);
  padding: 3px 3px 3px 3px;
  margin: 0 0.4rem;
  border-radius: 3px;
  font-weight: 600;
}
.movie-info .released {
  font-size: 18px;
}

.movie-info .writer {
  font-size: 18px;
  padding: 3px 3px 3px 3px;
  margin: 1rem 0;
}

.movie-info .actors {
  font-size: 18px;
  padding: 3px 3px 3px 3px;
}

.movie-info .genre {
  background-color: var(--light-dark-color);
  display: inline-block;
  padding: 6px 6px 6px 6px;
  border-radius: 3px;
}
.movie-info .plot {
  max-width: 400px;
  margin: 1rem auto;
  font-size: 18px;
  text-align: justify;
}
.movie-info .language {
  color: var(--yellow-color);
  font-style: italic;
}
.movie-info .awards {
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
}
.movie-info .awards i {
  color: var(--yellow-color);
  margin: 0px 0px 0px 0px;
}

@media (max-width: 450px) {
  .logo p {
    font-size: 1.4rem;
  }
  .search-element .form-control {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }

  .movie-misc-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .movie-misc-info li:nth-child(2) {
    margin: 0.8rem 0;
  }
}

.search-element {
  display: flex;
  flex-direction: row;
}
.search-element h3 {
  margin-bottom: 0;
}
.result-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.movie-info {
  text-align: left;
  padding-top: 0;
}
.movie-info .movie-misc-info {
  justify-content: flex-start;
  padding-left: 0;
}
.movie-info .plot {
  margin-left: 0;
}
.movie-info .writer {
  padding-left: 0;
  margin-left: 0;
}
